.container{
    text-align: center;
    // height: 100vh;
    margin-top: 1em;
    overflow: hidden;

}

.title{
    border-bottom: 2px solid gray;
    margin-bottom: 25px;
    padding-bottom: 15px;
    color:blueviolet;
    font-size: 2rem;
    letter-spacing: 2px;
    
}
.quiz-img{
    width: 95%;
    margin-bottom: 25px;

    @media (min-width:1024px) {
        width: 50%;
    }

}
.quiz-setting{
    margin-bottom: 15px;
    color:blueviolet;
    font-size: 1.6rem;
    
}

.settings-selection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0.8;
    padding: 20px;

    @media (min-width:1024px){
        width: 150%;
    }

}
.flex{
    @media (min-width:1024px){
        display: flex;

        align-items: center;
        height: 80vh;
    }
}